  body {
    font-family:'Roboto', sans-serif;
  }
  .bg-background{
    background-color: #FAFAFA;
  }
  .hero-image{
    box-shadow:  0px 4px 31px #0000000A;;
  }
  .greetings{
    color: #3E3E3E;
  }
  ul, .ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .bold-word{
    color: #C8242F;
  }
  .input-field{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
  }

  .login-btn{
    background-color: #C8242F;
    border-radius: 23px;
  }
  .login-btn:hover{
    background-color: #5b0f14;
  }


  .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.default{
  color: #3E3E3E;
}
.default:hover{
  background-color: #FFF3F4;
}
.active{
  color:#C8242F;
  background-color: #FFF3F4;
}
.main-content{
  background-color: #fafafa;
}
main{
  color:#3E3E3E
}
.link-sale{
  text-decoration: none;
  color: #ADADAD;
}
.link-sale:hover{
  color: #C8242F;
}
.active-link-sale{
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #C8242F;
}
.circle{
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.paid{
  background-color: #EBFFEF;
  color: #3CDD5F;
  padding: 4px 8px;
  border-radius: 5px;
}
.pending{
  background-color: #F8F8F8;
  color: #BABABA;
  padding: 4px 8px;
  border-radius: 5px;
}

.failed{
  background-color: #FFF5F5;
  color: #FF4545;
  padding: 4px 8px;
  border-radius: 5px;
}