body {
  font-family: "Roboto", sans-serif !important;
}
.bg-background {
  background-color: #fafafa;
}
.hero-image {
  box-shadow: 0px 4px 31px #0000000a;
}
.greetings {
  color: #3e3e3e;
}
ul,
.ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bold-word {
  color: #c8242f;
}
.input-field {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}

.login-btn {
  background-color: #c8242f;
  border-radius: 23px;
}
.login-btn:hover {
  background-color: #5b0f14;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.default {
  color: #3e3e3e;
}
.default:hover {
  background-color: #fff3f4;
}

.main-content {
  background-color: #fafafa;
}
main {
  color: #3e3e3e;
}
.link-sale {
  text-decoration: none;
  color: #adadad;
}
.link-sale:hover {
  color: #c8242f;
}
.active-link-sale {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #c8242f;
}
.circle {
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.paid {
  background-color: #ebffef;
  color: #3cdd5f;
  padding: 4px 8px;
  border-radius: 5px;
}
.pending {
  background-color: #f8f8f8;
  color: #bababa;
  padding: 4px 8px;
  border-radius: 5px;
}

.failed {
  background-color: #fff5f5;
  color: #ff4545;
  padding: 4px 8px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}
nav{
  border-bottom:  none;
}
.bg-background {
  background-color: #fafafa;
}
.hero-image {
  box-shadow: 0px 4px 31px #0000000a;
}
.greetings {
  color: #3e3e3e;
}
ul,
.ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bold-word {
  color: #c8242f;
}
.input-field {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}

.login-btn {
  background-color: #c8242f;
  border-radius: 23px;
}
.login-btn:hover {
  background-color: #5b0f14;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.default {
  color: #3e3e3e !important;
}
.default:hover {
  background-color: #fff3f4;
}
.active-nav-item {
  color: #c8242f !important;
  background-color: #fff3f4;
}
.main-content {
  background-color: #fafafa;
}
main {
  color: #3e3e3e;
}
.link-sale {
  cursor: pointer !important;
  text-decoration: none !important;
  color: #adadad;
}
.link-sale:hover {
  color: #c8242f !important;
}
.active-link-sale {
  text-decoration: underline !important;
  text-underline-offset: 10px !important;
  color: #c8242f !important;
}
.circle {
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.paid {
  background-color: #ebffef;
  color: #3cdd5f;
  padding: 4px 8px;
  border-radius: 5px;
}
.pending {
  background-color: #f8f8f8;
  color: #bababa;
  padding: 4px 8px;
  border-radius: 5px;
}

.failed {
  background-color: #fff5f5;
  color: #ff4545;
  padding: 4px 8px;
  border-radius: 5px;
}

.nav-hover{
  margin-bottom: 3px;
  color: #adadad !important;
  cursor: pointer !important;
}

.nav-hover:hover{
  color:#c8242f !important;
}

.nav-hover-active{
  margin-bottom: 0px;
  border-bottom: 3px solid #c8242f !important;
  color: #c8242f !important;
}

.form-check-input[type="radio"]:checked{
  border-color: #C8242F !important;
  background-color: #C8242F !important;
  box-shadow: none !important;
}
